//文字コードはutf-8
@charset "UTF-8";
@use "../abstracts/" as g;

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: rebeccapurple;
}

body {
  font-family: g.$fontface_default;
  font-weight: 500;
  line-height: 1.6;
  font-size: 12px;
  color: var(--black);
}