@charset "UTF-8";
@use "variables" as v;
@use "sass:math";


$breakpoints: (
  'smartphone': 'screen and (max-width: #{v.$bp_smartphone_max})',
  'tablet': 'screen and (min-width: #{v.$bp_tablet_min}) and (max-width: #{v.$bp_tablet_max})',
  'pc_x_tablet': 'screen and (min-width: #{v.$bp_tablet_min})',
  'sp_x_tablet': 'screen and (max-width: #{v.$bp_tablet_max})',
  'pc_content_size': 'screen and (min-width: #{v.$bp_pc_min}) and (max-width: #{v.$base_content_width})',
  'pc': 'screen and (min-width: #{v.$bp_pc_min})'
)
!default;

@mixin media_queries($breakpoint: smartphone) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// font-size
@mixin fontsize($size: 14){
  font-size: $size + px;
  font-size: math.div($size, 10) + rem;
}