@charset "UTF-8";

//カラー
:root {
  --black: #121212;
  --white:#fff;
}

//length values
$base_content_width: 1728px;
$base_content_padding: min(7%, 60px);

// breakpoints
$bp_pc_min: 769px;
$bp_tablet_max: 1000px;
$bp_pc_max: 1400px;
$bp_tablet_min: 768px;
$bp_smartphone_max: 768px;  